* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.menu-checkbox {
  display: none;
}
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  background-color: #333;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
  .menu-checkbox:checked ~ .navbar .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: center;
  }
}

.header:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header .logo span {
  font-size: 1.5em;
  font-weight: 600;
}
.header .nav-links {
  display: flex;
  gap: 33px;
  list-style: none;
}
.header .nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  transition: color 0.3s ease-in-out;
}
.header .nav-links a:hover {
  color: #00bcd4;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  background-color: #333;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  .header .nav-links {
    display: none;
  }
  .menu-icon {
    display: flex;
    position: absolute;
    left: 12px;
  }
}
